###                                              DATA SCIENCE BOOTCAMP ASSIGNMENT 1

1. Write a program to iterate the first 10 numbers, and in each iteration, print the sum of the current and previous number.

In [1]:
c_num = 1
p_num = 0
sum_i = 1

while sum_i <= 11:
    sum_num = c_num + p_num

    print(f"Sum of Iteration {sum_i}: {c_num} + {p_num} = {sum_num}")

    p_num = c_num
    c_num = sum_i

    sum_i += 1

Sum of Iteration 1: 1 + 0 = 1
Sum of Iteration 2: 1 + 1 = 2
Sum of Iteration 3: 2 + 1 = 3
Sum of Iteration 4: 3 + 2 = 5
Sum of Iteration 5: 4 + 3 = 7
Sum of Iteration 6: 5 + 4 = 9
Sum of Iteration 7: 6 + 5 = 11
Sum of Iteration 8: 7 + 6 = 13
Sum of Iteration 9: 8 + 7 = 15
Sum of Iteration 10: 9 + 8 = 17
Sum of Iteration 11: 10 + 9 = 19

2. Print the following pattern

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [6]:
for i in range(1,6):
    for j in range(i):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

3. List is given below:
    
numbers = [12, 75, 150, 180, 145, 525, 50]

Write a program to display only those numbers from a list that satisfy the following
conditions

i. The number must be divisible by five,
ii. If the number is greater than 150, then skip it and move to the next number,
iii. If the number is greater than 500, then stop the loop

In [9]:
numbers = [12,75,150,180,145,525,50]

for num in numbers:
    if (num%5==0):
        if (num>150):
            continue
        if (num>500):
            break
            
        print(num)

75
150
145
50

4. Display Fibonacci series up to 10 terms

The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1.
For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34

In [19]:
num1 = 0
num2 = 1

print(num1,num2,end=' ')

for i in range(8):
    sum = num1 + num2
    
    print(sum, end= ' ')

    num1=num2
    num2=sum

0 1 1 2 3 5 8 13 21 34

5. Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.
For example: calculate the factorial of 5
5! = 5 × 4 × 3 × 2 × 1 = 120

In [23]:
num = int(input("Enter number for factorial..:"))
fact=1

if (num<0):
    print("Number should be non-negative")
else:
    for i in range(1,num+1):
        fact = fact*i
    print("Factorial of a given number is:",fact)

Enter number for factorial..:5
Factorial of a given number is: 120

6. Write a program to iterate a given list and count the occurrence of each element and print to show the count of each element.

sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]
Expected Output:
Printing count of each item 11: 2, 45: 3, 8: 1, 23: 2, 89: 1

In [28]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

for item in set(sample_list):
    count = sample_list.count(item)
    print(f"Count of {item}: {count}")

Count of 8: 1
Count of 11: 2
Count of 45: 3
Count of 23: 2
Count of 89: 1

7. Given two lists, l1 and l2, write a program to create a third list l3 by picking an odd-index element from the list l1 and even index elements from the list l2.
Given:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [14]:
l1 = [3,6,9,12,15,18,21]
l2 = [4,8,12,16,20,24,28]

l3 = []


for i in l1:
    if i % 2 == 1:
        l3.append(i)
for j in l2:
    if j % 2 == 0:
        l3.append(j)

print("Resulting list l3:", l3)

Resulting list l3: [3, 9, 15, 21, 4, 8, 12, 16, 20, 24, 28]